@charset "UTF-8";

@import "@fontsource/ceviche-one/400.css";

@import "@fontsource/roboto/300.css";
@import "@fontsource/roboto/400.css";
@import "@fontsource/roboto/500.css";
@import "@fontsource/roboto/700.css";

@import "./tailwind.css";
@import "./app.css";

.tsparticles-header {
  position: absolute;
  top: 0;
  left: 0;
  margin: 0;
  width: 100%;
  height: 480px;
  z-index: -1;
}
